FMP_0.1.1/*
FMP_0.1.1.zip
smc-master.zip

Assignments/Assignment_A2/plots/
Assignments/Assignment_A2/statistics/
Assignments/Assignment_A2/InstrumentalSounds/plots/
Assignments/Assignment_A2/assignment2_multimedia.zip

Assignments/Assignment_A2/trash
